<%- include('header'); -%>
<body>
  <div class="container-fluid">
    <!-- top title -->
    <div class="row justify-content-center text-center">
      <section class="col-12 col-md-4">
        <h3 class="lead text-center">Little Nugget</p>
        <hr class="bg-danger border-2 border-top border-danger" />
      </section>
    </div>
    <!-- babyprofile pic + name + age -->
    <div class="row justify-content-center text-center">
      <section class="col-12 col-md-4">
        <span>
          <a href="/accounts/<%= account_id %>/profile/<%= profile_id %>/baby"
            ><img
              class="img-tiles"
              src="/images/baby-icon-color.jpg"
              alt="baby-icon-bw"
              id="sleep"
              style="width: 100px; height: 100px"
            />
          </a>
          <p>
            <%= current_profile.first_name %> <%= current_profile.last_name %>
          </p>
          <p>DOB: <%= current_profile.formatted_dob %></p>
        </span>
        <hr class="bg-danger border-2 border-top border-danger" />
      </section>
    </div>
    <!-- tiles row 1 -->
    <div class="row justify-content-center text-center" id="action-tiles-row-1">
      <!-- sleep tile -->
      <tile class="col col-md-2">
        <a href="/accounts/<%= account_id %>/profile/<%= profile_id %>/sleep">
          <img
            class="img-tiles"
            src="/images/sleep-color.jpg"
            alt="sleep-img"
            id="sleep"
            style="width: 125x; height: 125px"
          />
        </a>
        <p class="lead text-center">Sleep</p>
      </tile>
      <!-- feed tile -->
      <tile class="col col-md-2">
        <a href="/accounts/<%= account_id %>/profile/<%= profile_id %>/feeds">
          <img
            class="img-tiles"
            src="/images/feed-color.jpg"
            alt="feed-img"
            id="feeds"
            style="width: 125; height: 125px"
          />
        </a>
        <p class="lead text-center">Feedings</p>
      </tile>
    </div>
    <br />
    <!-- tiles row 2-->
    <div class="row justify-content-center text-center" id="action-tiles-row-2">
      <!-- milestones tile -->
      <tile class="col col-md-2">
        <a
          href="/accounts/<%= account_id %>/profile/<%= profile_id %>/milestones"
        >
          <img
            class="img-tiles"
            src="/images/milestones-color.jpg"
            alt="milestones-img"
            id="milestones"
            style="width: 125px; height: 125px"
          />
        </a>
        <p class="lead text-center">Milestones</p>
      </tile>
      <!-- diaper change tile -->
      <tile class="col col-md-2">
        <a
          href="/accounts/<%= account_id %>/profile/<%= profile_id %>/diaper-changes"
        >
          <img
            class="img-tiles"
            src="/images/diaper-change-color.jpg"
            alt="diaper-change-img"
            style="width: 125px; height: 125px"
            id="diaper-changes"
          />
        </a>
        <p class="lead text-center">Diaper Change</p>
      </tile>
    </div>
  </div>
</body>
<%- include('navbarBottom'); -%> <%- include('footer'); -%>
