<%- include('header'); -%>
<body>
  <div class="container-fluid">
    <!-- top title -->
    <%- include('tileTitle'); -%>
    <!-- title -->
    <div class="row justify-content-center">
      <section class="col-12 col-md-4" id="sleep-title">
        <span>
          <h1 id="tile-title" class="display-4 text-left">Sleep</h1>
          <p class="fw-normal text-left text-muted">Log and track sleep patterns</p>
        </span>
      </section>
    </div>
    <!-- sleep button right offcanvas -->
    <div class="row justify-content-center">
      <section class="col-12 col-md-4" id="new-sleep-button">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          >
        New Sleep Entry
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
          >
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Log a new sleep entry</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
              ></button>
          </div>
          <div class="offcanvas-body">
            <form
              action="/accounts/<%= account_id %>/profile/<%= profile_id %>/sleep"
              method="POST"
              >
              <!-- Duration -->
              <label for="duration" class="form-label">Duration (mins)</label>
              <input
                type="number"
                class="form-control"
                id="duration"
                name="duration"
                value=""
                required
                />
              <br />
              <!-- sleep start -->
              <label for="sleep_start" class="form-label">Sleep started at</label>
              <input
                type="datetime-local"
                class="form-control"
                id="sleep_start"
                name="sleep_start"
                value=""
                required
                />
              <br />
              <!-- sleep end -->
              <label for="sleep_end" class="form-label">Sleep ended at</label>
              <input
                type="datetime-local"
                class="form-control"
                id="sleep_end"
                name="sleep_end"
                value=""
                required
                />
              <br />
              <!-- notes -->
              <label for="notes" class="form-label">Notes</label>
              <textarea
                class="form-control"
                id="notes"
                rows="3"
                name="notes"
                ></textarea>
              <br />
              <!-- Submit-Button -->
              <div class="row text-right">
              <button type="submit" id="form-submit-button" class="btn btn-primary w-100">Save</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <br>
    <!-- sleep history title -->
    <div class="row justify-content-center">
      <section class="col-12 col-md-4" id="sleep-history-section">
    <h1 id="tile-history" class="display-6">
    Sleep History</h1>
  </section>
  </div>
    <!-- sleep history section -->
    <div class="row justify-content-center">
    <section class="col-12 col-md-4" id="sleep-history-section">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <% for (let i=0; i<sleep_history.length; i+=1)  { %>
        <!-- sleep history item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-<%= i+1%>">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse-<%= i+1%>"
              aria-expanded="false"
              aria-controls="flush-collapse-<%= i+1%>"
              >
            <%= i+1 %>. <%= sleep_history[i].formatted_created_at %>
            </button>
          </h2>
          <div
            id="flush-collapse-<%= i+1%>"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading-<%= i+1%>"
            data-bs-parent="#accordionFlushExample"
            >
            <div class="accordion-body">
              <dl class="row">
                <dt class="col-sm-3">Sleep Time:</dt>
                <dd class="col-sm-9"><%= sleep_history[i].duration %> mins</dd>
                <dt class="col-sm-3">Sleep Duration:</dt>
                <dd class="col-sm-9">
                  <p>
                    <%= sleep_history[i].formatted_sleep_start %> - <%=
                      sleep_history[i].formatted_sleep_end %>
                  </p>
                </dd>
                <dt class="col-sm-3">Notes:</dt>
                <dd class="col-sm-9"><%= sleep_history[i].notes %></dd>
              </dl>
              <!-- action items - edit delete -->
              <dl class="row justify-content-center">
                <!-- edit -->
                <div class="col" >
                  <section>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvasRightEdit_<%=i%>"
                      aria-controls="offcanvasRightEdit_<%=i%>">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                    <div
                      class="offcanvas offcanvas-end"
                      tabindex="-1"
                      id="offcanvasRightEdit_<%=i%>"
                      aria-labelledby="editoffcanvasRightLabel"
                      >
                      <div class="offcanvas-header">
                        <h5 id="editoffcanvasRightLabel">Edit sleep entry</h5>
                        <button
                          type="button"
                          class="btn-close text-reset"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"
                          ></button>
                      </div>
                      <div class="offcanvas-body">
                        <form
                          action="/accounts/<%= account_id %>/profile/<%= profile_id %>/sleep/<%= sleep_history[i].id %>?_method=PUT"
                          method="POST"
                          >
                          <!-- Duration -->
                          <label for="duration" class="form-label">Duration (mins)</label>
                          <input
                            type="number"
                            class="form-control"
                            id="duration"
                            name="duration"
                            value="<%= sleep_history ? sleep_history[i].duration : 0 %>"
                            required
                            />
                          <br />
                          <!-- sleep start -->
                          <label for="sleep_start" class="form-label">Sleep started at</label>
                          <input
                            type="datetime-local"
                            class="form-control"
                            id="sleep_start"
                            name="sleep_start"
                            value="<%= sleep_history ? sleep_history[i].sleep_start : '' %>"
                            required
                            />
                          <br />
                          <!-- sleep end -->
                          <label for="sleep_end" class="form-label">Sleep ended at</label>
                          <input
                            type="datetime-local"
                            class="form-control"
                            id="sleep_end"
                            name="sleep_end"
                            value="<%= sleep_history ? sleep_history[i].sleep_end : '' %>"
                            required
                            />
                          <br />
                          <!-- notes -->
                          <label for="notes" class="form-label">Notes</label>
                          <textarea
                            class="form-control"
                            id="notes"
                            rows="3"
                            name="notes"
                            ><%= sleep_history ? sleep_history[i].notes : '' %></textarea>
                          <br />
                          <!-- Submit-Button -->
                          <div class="row text-right">
                            <button type="submit" id="form-submit-button" class="btn btn-primary w-100">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </section>
                </div>
                <!-- delete -->
                <div class="col justify-content-center">
                  <form method="POST" action="/accounts/<%= account_id %>/profile/<%= profile_id %>/sleep/<%=sleep_history[i].id %>?_method=DELETE">
                    <button type="submit" class="btn btn-secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                      </svg>
                    </button>
                  </form>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>
    </div>
  </div>
</body>
<%- include('navbarBottom'); -%> <%- include('footer'); -%>

